{% extends 'base.html' %}
{% load static %}
{% block title %}Make Payment{% endblock title %}

{% block container %}


<!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var options = {
            key: "rzp_test_vEgdKihjkSCm8m",
            amount: '{{grand_total}}'*100,
            currency: "INR",
            name: "RevNation",
            handler: function(response) {
                window.location.href = `paymentsuccess?order_id={{order.id }}&payment_id=${response.razorpay_payment_id}`;
            }
        };
        var rzp1 = new Razorpay(options);
        var payButton = document.getElementById("pay-btn");
        if (payButton) {
            payButton.onclick = function (e) {
                rzp1.open();
                e.preventDefault();
            };
        }
    });
</script> -->
    
{% endblock container %}
